In [ ]:
import pandas as pd

df = pd.read_csv("../data/hospital_hourly_energy.csv")

df['datetime'] = pd.to_datetime(df['datetime'])


df = df.sort_values('datetime')


df.set_index('datetime', inplace=True)


print("Dataset shape:", df.shape)
print("\nMissing values:")
print(df.isna().sum())

print("\nTime range:")
print(df.index.min(), "to", df.index.max())

df.head()

Dataset shape: (8760, 1)

Missing values:
energy_kwh    0
dtype: int64

Time range:
2023-01-01 00:00:00 to 2023-12-31 23:00:00

                     energy_kwh
datetime
2023-01-01 00:00:00      446.90
2023-01-01 01:00:00      427.85
2023-01-01 02:00:00      451.43
2023-01-01 03:00:00      477.69
2023-01-01 04:00:00      424.98